@font-face {
    font-family: "FontAwesome";
    src: url("/ArduinoPoSlovensky/Produkty/fonts/fontawesome-webfont.woff") format('woff');
}

@font-face {
    font-family: "kg_second_chances_solidRg";
    src: url("/ArduinoPoSlovensky/Produkty/fonts/kgsecondchancessolid-webfont.woff") format('woff');
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("/ArduinoPoSlovensky/Produkty/fonts/RobotoCondensed-Regular-webfont.woff") format('woff');
}

#container { 
  height: 100%; 
  width: 100%; 
  display: table; 
}    

#inner { 
  vertical-align: middle; 
  display: table-cell; 
}    

#banner_div { 
  margin: 2px; 
  padding: 2px; 
  height: 190px; 
  float:left; 
  width: 465px;
}     

#DIV_1 {
    box-shadow: rgb(170, 170, 170) 5px 5px 5px 0px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 4px 4px 4px 4px;
}

#DIV_2 {
    float: left;
    height: 150px;
    width: 170px;
}

.IMG_3 {
    height: 150px;
    width: 150px;
}

#DIV_4 {
    height: 130px;
    font: normal normal normal normal 15px / 21.4286px "Roboto Condensed", Helvetica, Arial, sans-serif;    
    /*margin: 0px 0px 10px 117px;*/
    padding: 0px 10px 0px 0px;
}

#H5_5 {
    height: 30px;
    font: normal normal normal normal 16px / 17.6px kg_second_chances_solidRg;
    margin: 20px 0px 10px;
}

#DIV_6:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    content: ' ';
    display: table;
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 15px / 21.4286px "Roboto Condensed", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}

#DIV_15 {
    border-top: 1px solid rgb(170, 170, 170);
    padding: 5px;
}


#SPAN_17 {
    color: rgb(0, 128, 0);
    float: left;
    font: normal normal normal normal 15px / 21.4286px "Roboto Condensed", Helvetica, Arial, sans-serif;
}

#A_18 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    text-decoration: none;    
    width: 60px;
    background: rgb(51, 122, 183) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(46, 109, 164);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 14px / 21px "Roboto Condensed", Helvetica, Arial, sans-serif;
    margin: -4px 0px 0px;
    padding: 1px 5px; 
}

#I_19 {
}

#I_19:before {
    content: '';
    font: normal normal normal normal 14px / 14px FontAwesome;
}

#I_20 {
}

#I_20:before {
    content: '';
    font: normal normal normal normal 14px / 14px FontAwesome;
}

#A_21 {
}

#DIV_16 {
    float: right;
}

#IMG_22 {
    vertical-align: middle;
}
