body {
	margin-top: 80px
}
#nav::-webkit-scrollbar {
	-webkit-appearance: none
}
#nav::-webkit-scrollbar:vertical {
	width: 6px
}
#nav::-webkit-scrollbar:horizontal {
	height: 6px
}
#nav::-webkit-scrollbar-thumb {
	border-radius: 6px;
	border: 1px solid rgba(51,122,183,.2);
	background-color: rgba(51,122,183,.2)
}
#nav::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 8px;
	background-color: rgba(51,122,183,.1)
}
.aff {
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 4px;
	position: relative;
	min-height: 102px;
	font-size: 15px;
	box-shadow: 5px 5px 5px #aaa;
	margin-top: 20px
}
.aff a {
	text-decoration: none
}
.aff .price {
	white-space: nowrap;
	padding: 5px;
	border-top: 1px solid #aaa
}
.aff .price .btn {
	margin-top: -4px
}
.aff div.stock {
	font-weight: 400;
	color: #777;
	padding-top: 5px
}
.aff .body {
	padding-right: 10px;
	margin-left: 117px;
	margin-bottom: 10px
}
.aff h3 {
	padding: 10px;
	font-size: 16px;
	margin: 0;
	color: #333
}
.aff h3 div.ellipsis {
	max-height: 51px;
	overflow: hidden
}
.aff .image {
	float: left;
	padding-right: 17px
}
.aff .image img {
	float: left;
	height: 100px
}
.navbar-brand {
	background: url(/images/MySensorsLogo.png) no-repeat;
	background-size: 118px 41px;
	background-position: 6px 5px;
	height: 51px;
	padding-left: 126px
}
.navbar-brand-small {
	background: url(/images/MySensorsMan.png) no-repeat;
	background-size: 34px 34px;
	background-position: 0 9px;
	height: 51px;
	padding-left: 38px
}
.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 2px;
	background-color: transparent;
	background-image: none;
	border: none
}
@font-face {
	font-family: kg_second_chances_sketchRg;
	src: url(/fonts/kgsecondchancessketch-webfont.eot);
	src: url(/fonts/kgsecondchancessketch-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/kgsecondchancessketch-webfont.woff) format('woff'), url(/fonts/kgsecondchancessketch-webfont.ttf) format('truetype'), url(/fonts/kgsecondchancessketch-webfont.svg#kg_second_chances_sketchRg) format('svg')
}
@font-face {
	font-family: kg_second_chances_solidRg;
	src: url(/fonts/kgsecondchancessolid-webfont.eot);
	src: url(/fonts/kgsecondchancessolid-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/kgsecondchancessolid-webfont.woff) format('woff'), url(/fonts/kgsecondchancessolid-webfont.ttf) format('truetype'), url(/fonts/kgsecondchancessolid-webfont.svg#kg_second_chances_solidRg) format('svg')
}
.youtube {
	width: 560px;
	height: 315px
}
.lg {
	font-size: 150%
}
.news {
	padding-top: 20px
}
.news .newsSection {
	padding-top: 20px
}
.article-avatar-wrapper {
	border-radius: 60px;
	float: right;
	margin: 10px;
	margin-top: 8px;
	border: 2px solid #3c63ae;
	background: #fff
}
.article-avatar-wrapper img {
	width: 38px;
	height: 38px;
	border-radius: 60px
}
.jumbo {
	background-color: inherit;
	padding: 20px;
	padding-top: 10px
}
.jumbo p {
	font-size: 20px
}
.jumbo h1 {
	font-size: 3em
}
.author {
	color: #666;
	font-size: 90%
}
#article {
	padding-top: 20px
}
.center {
	text-align: center
}
.ir {
	float: right;
	padding-left: 20px
}
.news dt {
	float: left;
	clear: left;
	text-align: right;
	font-weight: 400
}
.news dt:after {
	content: " ~"
}
.news dd {
	margin: 0 0 0 90px;
	padding: 0 0 .5em
}
.navbar-fixed-top li.active>a {
	color: #000!important
}
.view-article {
	padding-left: 40px;
	padding-right: 40px
}
@media(max-width:992px) {
.menuPadder {
	margin-left: 0!important
}
}
.menuPadder {
	margin-left: 240px
}
#nav {
	position: fixed;
	top: 52px;
	background: #fff;
	padding-top: 21px;
	box-shadow: 16px 25px 39px -18px rgba(115,115,115,.75);
	bottom: -5px;
	padding-bottom: 15px;
	z-index: 1050;
	overflow-y: auto;
	padding-left: 23px;
	width: 240px
}
#nav .activeTitle {
	font-weight: 700
}
#nav .activeMenu .active {
	font-weight: 700
}
.activeMenu {
	margin-left: 14px
}
.activeMenu .fa-li {
	width: inherit;
	left: -12px;
	top: 4px
}
#nav:after {
	padding-bottom: 20px
}
a.anchor {
	display: block;
	position: relative;
	top: -80px;
	visibility: hidden
}
.popupMeny {
	font-weight: 400
}
.navbar {
	min-height: 52px
}
.navbar-default {
	background-color: #fff;
	-webkit-box-shadow: 0 -2px 38px rgba(0,0,0,.5);
	box-shadow: 0 -2px 38px rgba(0,0,0,.5);
	transition: .3s height cubic-bezier(.075,.82,.165,.8);
	-webkit-transition: .3s height cubic-bezier(.075,.82,.165,.8)
}
.scrollspy .nav>li>a {
	padding: 0
}
.scrollspy h4, .scrollspy .h4, .scrollspy h5, .scrollspy .h5, .scrollspy h6, .scrollspy .h6 {
	margin-top: 11px;
	margin-bottom: 2px
}
.ssk-oh {
	width: 276px;
	background-color: #757575;
	color: #fff;
	display: inline-block;
	padding: 4px;
	white-space: nowrap;
	font-size: 18px;
	line-height: 1px;
	margin-right: 2px;
	margin-bottom: 2px;
	font-family: Menu;
	padding-top: 2px;
	height: 23px
}
.ssk-oh:hover {
	color: #fff;
	background-color: #000;
	text-decoration: none
}
.hoverRow {
	border: 1px solid #2e6da4;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}
.hoverRow .meta {
	padding-bottom: 10px
}
.hoverRow .bg {
	position: absolute;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .2;
	width: 100%;
	height: 100%
}
.hoverRow h5 {
	color: #337ab7
}
.hoverRow:hover {
	transform: scale(1.05)
}
.panel-container h1 {
	font-family: kg_second_chances_solidRg
}
h1 {
	font-family: kg_second_chances_sketchRg;
	font-size: 2.8em;
	margin-top: 5px
}
h2 {
	font-family: kg_second_chances_solidRg;
	font-size: 32px
}
h3 {
	font-family: kg_second_chances_solidRg
}
h4 {
	font-family: kg_second_chances_solidRg
}
h5 {
	font-family: kg_second_chances_solidRg
}
#article {
	overflow-x: scroll
}
#article h1,
#article h2,
#article h3,
#article h4,
#article h5,
#article h6 {
	font-weight: 400
}
#article h2 {
	font-size: 32px;
	border-bottom: 0
}
#article h3 {
	font-size: 28px
}
#article h4 {
	font-size: 20px
}
#article h5 {
	font-size: 16px
}
.right {
	position: absolute;
	right: 0;
	z-index: 1
}
.support-us {
	text-align: right;
	float: right;
	margin-top: 14px
}
.support-us .support-us-text {
	margin-top: -5px
}
.we-did {
	padding-left: 20px
}
.donate-box {
	text-align: center;
	margin-left: -20px
}
.fa-navicon:before {
	content: "\00a0 \00a0 \00a0 \00a0"!important;
	width: 18px;
	height: 18px;
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-image: url(/images/ohi.png)
}
.well-lg {
	font-size: 1.3em
}
.well-lg h1 {
	font-family: kg_second_chances_sketchRg;
	font-size: 2.5em;
	margin-top: 5px
}
.navbar-default .navbar-nav>li>a {
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px
}
.extLinksCenter {
	text-align: center
}
.extLinks {
	width: 100%;
	max-width: 156px;
	padding-bottom: 20px
}
.welcomeImg {
	background: url(/images/welcome/sketchWelcome.png) bottom right no-repeat;
	background-size: 150px
}
.relative {
	position: relative
}
@media only screen and (min-width:768px) {
.sketchWelcome {
	float: right;
	background: url(/images/welcome/sketchWelcome.png);
	background-size: 120px;
	background-repeat: no-repeat;
	width: 120px;
	height: 135px
}
}
.bcontainer {
	width: 419px;
	height: 68px;
	margin-left: 10px;
	float: right
}
.bballoon>div {
	width: 52px;
	height: 70px;
	background: rgba(182,15,97,.9);
	border-radius: 0;
	border-radius: 80%;
	margin: 0 auto;
	float: left;
	padding: 10px;
	box-shadow: inset 17px 7px 10px rgba(182,15,97,.9);
	-webkit-transform-origin: bottom center
}
.bballoon>div:nth-child(1) {
	background: rgba(182,15,97,.4);
	left: 0;
	box-shadow: inset 10px 10px 10px rgba(135,11,72,.4);
	-webkit-animation: balloon1 5.4s ease-in-out infinite;
	-moz-animation: balloon1 5.4s ease-in-out infinite;
	-o-animation: balloon1 5.4s ease-in-out infinite;
	animation: balloon1 5.4s ease-in-out infinite
}
.bballoon>div:nth-child(1):before {
	color: rgba(182,15,97,.9)
}
.bballoon>div:nth-child(2) {
	background: rgba(242,112,45,.6);
	left: 120px;
	box-shadow: inset 10px 10px 10px rgba(222,85,14,.6);
	-webkit-animation: balloon2 6.1s ease-in-out infinite;
	-moz-animation: balloon2 6.1s ease-in-out infinite;
	-o-animation: balloon2 6.1s ease-in-out infinite;
	animation: balloon2 6.1s ease-in-out infinite
}
.bballoon>div:nth-child(2):before {
	color: rgba(242,112,45,.9)
}
.bballoon>div:nth-child(3) {
	background: rgba(45,181,167,.9);
	left: 240px;
	box-shadow: inset 10px 10px 10px rgba(35,140,129,.9);
	-webkit-animation: balloon4 6.3s ease-in-out infinite;
	-moz-animation: balloon4 6.3s ease-in-out infinite;
	-o-animation: balloon4 6.3s ease-in-out infinite;
	animation: balloon4 6.3s ease-in-out infinite
}
.bballoon>div:nth-child(3):before {
	color: rgba(45,181,167,.9)
}
.bballoon>div:nth-child(4) {
	background: rgba(190,61,244,.5);
	left: 360px;
	box-shadow: inset 10px 10px 10px rgba(173,14,240,.5);
	-webkit-animation: balloon1 5.2s ease-in-out infinite;
	-moz-animation: balloon1 5.2s ease-in-out infinite;
	-o-animation: balloon1 5.2s ease-in-out infinite;
	animation: balloon1 5.2s ease-in-out infinite
}
.bballoon>div:nth-child(4):before {
	color: rgba(190,61,244,.9)
}
.bballoon>div:nth-child(5) {
	background: rgba(180,224,67,.7);
	left: 480px;
	box-shadow: inset 10px 10px 10px rgba(158,206,34,.7);
	-webkit-animation: balloon3 4.7s ease-in-out infinite;
	-moz-animation: balloon3 4.7s ease-in-out infinite;
	-o-animation: balloon3 4.7s ease-in-out infinite;
	animation: balloon3 4.7s ease-in-out infinite
}
.bballoon>div:nth-child(5):before {
	color: rgba(180,224,67,.9)
}
.bballoon>div:nth-child(6) {
	background: rgba(242,194,58,.5);
	left: 600px;
	box-shadow: inset 10px 10px 10px rgba(234,177,15,.5);
	-webkit-animation: balloon2 3.3s ease-in-out infinite;
	-moz-animation: balloon2 3.3s ease-in-out infinite;
	-o-animation: balloon2 3.3s ease-in-out infinite;
	animation: balloon2 3.3s ease-in-out infinite
}
.bballoon>div:nth-child(6):before {
	color: rgba(242,194,58,.9)
}
.bballoon>div:nth-child(7) {
	background: rgba(242,94,88,.9);
	left: 720px;
	box-shadow: inset 10px 10px 10px rgba(234,77,45,.9);
	-webkit-animation: balloon1 5.5s ease-in-out infinite;
	-moz-animation: balloon1 5.5s ease-in-out infinite;
	-o-animation: balloon1 5.5s ease-in-out infinite;
	animation: balloon1 5.5s ease-in-out infinite
}
.bballoon>div:nth-child(7):before {
	color: rgba(242,94,58,.9)
}
.bballoon>div:nth-child(8) {
	background: rgba(0,194,254,.3);
	left: 840px;
	box-shadow: inset 10px 10px 10px rgba(0,177,200,.3);
	-webkit-animation: balloon4 4.2s ease-in-out infinite;
	-moz-animation: balloon4 4.2s ease-in-out infinite;
	-o-animation: balloon4 4.2s ease-in-out infinite;
	animation: balloon4 4.2s ease-in-out infinite
}
.bballoon>div:nth-child(8):before {
	color: rgba(0,194,254,.9)
}
.bballoon>div:before {
	color: rgba(182,15,97,.9);
	position: absolute;
	bottom: -14px;
	left: 19px;
	content: "▲";
	font-size: 1em
}
.bballoon div span {
	font-family: kg_second_chances_sketchRg;
	font-size: 2.5em;
	color: white;
	position: relative;
	top: -4px;
	left: 22px;
	margin-left: -22px
}
@-webkit-keyframes balloon1 {
0%, 100% {
	-webkit-transform: translateY(0) rotate(-6deg)
}
50% {
	-webkit-transform: translateY(-20px) rotate(8deg)
}
}
@-moz-keyframes balloon1 {
0%, 100% {
	-moz-transform: translateY(0) rotate(-6deg)
}
50% {
	-moz-transform: translateY(-20px) rotate(8deg)
}
}
@-o-keyframes balloon1 {
0%, 100% {
	-o-transform: translateY(0) rotate(-6deg)
}
50% {
	-o-transform: translateY(-20px) rotate(8deg)
}
}
@keyframes balloon1 {
0%, 100% {
	transform: translateY(0) rotate(-6deg)
}
50% {
	transform: translateY(-20px) rotate(8deg)
}
}
@-webkit-keyframes balloon2 {
0%, 100% {
	-webkit-transform: translateY(0) rotate(6eg)
}
50% {
	-webkit-transform: translateY(-30px) rotate(-8deg)
}
}
@-moz-keyframes balloon2 {
0%, 100% {
	-moz-transform: translateY(0) rotate(6deg)
}
50% {
	-moz-transform: translateY(-30px) rotate(-8deg)
}
}
@-o-keyframes balloon2 {
0%, 100% {
	-o-transform: translateY(0) rotate(6deg)
}
50% {
	-o-transform: translateY(-30px) rotate(-8deg)
}
}
@keyframes balloon2 {
0%, 100% {
	transform: translateY(0) rotate(6deg)
}
50% {
	transform: translateY(-30px) rotate(-8deg)
}
}
@-webkit-keyframes balloon3 {
0%, 100% {
	-webkit-transform: translate(0,-10px) rotate(6eg)
}
50% {
	-webkit-transform: translate(-20px,30px) rotate(-8deg)
}
}
@-moz-keyframes balloon3 {
0%, 100% {
	-moz-transform: translate(0,-10px) rotate(6eg)
}
50% {
	-moz-transform: translate(-20px,30px) rotate(-8deg)
}
}
@-o-keyframes balloon3 {
0%, 100% {
	-o-transform: translate(0,-10px) rotate(6eg)
}
50% {
	-o-transform: translate(-20px,30px) rotate(-8deg)
}
}
@keyframes balloon3 {
0%, 100% {
	transform: translate(0,-10px) rotate(6eg)
}
50% {
	transform: translate(-20px,30px) rotate(-8deg)
}
}
@-webkit-keyframes balloon4 {
0%, 100% {
	-webkit-transform: translate(10px,-10px) rotate(-8eg)
}
50% {
	-webkit-transform: translate(-15px,20px) rotate(10deg)
}
}
@-moz-keyframes balloon4 {
0%, 100% {
	-moz-transform: translate(10px,-10px) rotate(-8eg)
}
50% {
	-moz-transform: translate(-15px,10px) rotate(10deg)
}
}
@-o-keyframes balloon4 {
0%, 100% {
	-o-transform: translate(10px,-10px) rotate(-8eg)
}
50% {
	-o-transform: translate(-15px,10px) rotate(10deg)
}
}
@keyframes balloon4 {
0%, 100% {
	transform: translate(10px,-10px) rotate(-8eg)
}
50% {
	transform: translate(-15px,10px) rotate(10deg)
}
}