body {
	margin-top: 80px
}

.aff {
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 4px;
	position: relative;
	min-height: 102px;
	font-size: 15px;
	box-shadow: 5px 5px 5px #aaa;
	margin-top: 20px
}
.aff a {
	text-decoration: none
}
.aff .price {
	white-space: nowrap;
	padding: 5px;
	border-top: 1px solid #aaa
}
.aff .price .btn {
	margin-top: -4px
}
.aff div.stock {
	font-weight: 400;
	color: #777;
	padding-top: 5px
}
.aff .body {
	padding-right: 10px;
	margin-left: 117px;
	margin-bottom: 10px
}
.aff h3 {
	padding: 10px;
	font-size: 16px;
	margin: 0;
	color: #333
}
.aff h3 div.ellipsis {
	max-height: 51px;
	overflow: hidden
}
.aff .image {
	float: left;
	padding-right: 17px
}
.aff .image img {
	float: left;
	height: 100px
}

.row {
	margin-left: -15px;
	margin-right: -15px
}

.col-xs-12 {
	width: 100%
}


@font-face {
	font-family: kg_second_chances_solidRg;
	src: url(../Produkty//fonts/kgsecondchancessolid-webfont.woff) format('woff');
}
@font-face {
	font-family: social-share-kit;
	src: url(../Produkty/fonts/social-share-kit.woff) format('woff');
}
@font-face {
	font-family: Roboto Condensed;
	src: url(../Produkty/fonts/RobotoCondensed-Regular-webfont.woff) format('woff');
}
